
.navbar {
    backdrop-filter: blur(4px);
    border-bottom: 0.1px solid grey;
  }
  
  .Navbar-btns-div {
    @apply flex flex-col gap-5 mt-5 sm:flex-row sm:items-center sm:justify-end sm:mt-0 sm:ps-5;
  }
  
  .navbar-buttons {
    @apply text-white bg-gray-700 px-3 active:bg-gray-900 cursor-pointer py-1 rounded-xl font-thin;
    background: transparent;
    border: white 1px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5),
      0 0 10px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  
  .NewTask-input {
    @apply bg-gray-800 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 outline-none;
  }
  
  .NewTask-Add-btn {
    @apply bg-gray-800 border border-gray-300 text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2 py-1 mx-[1.5px];
  }
  
  .Task-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full py-2 px-2  outline-none;
  }
  
  .Tasklist-li {
    @apply border border-b-[1px] text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full px-3 py-3 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 my-1;
  }
  
  .three-dot-btn {
    @apply text-white hover:text-black  hover:bg-gray-200 rounded-full;
  }
  
  .threedot-panel {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #2d2d2d; /* Dark background for the panel */
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 140px; /* Set a width so buttons don't stretch */
    padding: 8px 0;
    z-index: 10;
  }
  
  .threedot-panel-btns {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: transparent;
    color: #fff;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .threedot-panel-btns:hover {
    background-color: #444; /* Slight hover effect */
  }
  
  .threedot-panel-btns span {
    margin-left: 8px;
    font-size: 14px;
    font-weight: normal;
  }
  
  .threedot-panel-btns:active {
    background-color: #333; /* Active state */
  }
  